.logo {
  font-family: Shrikhand;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  height: 25px;
}

a {
  text-decoration: none;
  color: #000;
}

p, h3 {
  font-size: 15px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.action {
  padding: 15px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #fff;
  border: none;
  border-radius: 25px;
}

main #explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #explorer #position {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #EAEAEA;
  border-top: 3px solid #CFCFCF;
  padding: 15px;
}
main #explorer #search {
  width: 100%;
  height: 280px;
  text-align: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main #explorer #search h2 {
  width: 60%;
}
main #explorer #search p {
  width: 80%;
}
main #explorer #search .action p {
  width: 100%;
}
main #functioning {
  margin: 50px 20px;
}
main #functioning #functions {
  margin: 20px 0;
}
main #functioning #functions .function-detail {
  margin: 10px 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0 5px #EDEDED;
}
main #functioning #functions .function-detail i {
  width: 25%;
  text-align: center;
  color: #7E7E7E;
}
main #restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 55px 20px;
}
main #restaurants .card {
  width: 100%;
  height: 250px;
  margin-top: 15px;
  background-color: white;
  box-shadow: 0 0 5px #999;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
main #restaurants .card .card-img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
main #restaurants .card .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
main #restaurants .card .card-body {
  height: 30%;
  margin: 0 25px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #restaurants .card .card-body .card-desc {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}
main #restaurants .card .card-body .favorite-icone {
  background: none;
  border: none;
}
main #restaurants .card .card-body .favorite-icone .fa-regular {
  display: initial;
  font-size: 20px;
}
main #restaurants .card .card-body .favorite-icone .fa-solid {
  display: none;
}
main #restaurants .card .card-body .favorite-icone:hover .fa-regular {
  display: none;
}
main #restaurants .card .card-body .favorite-icone:hover .fa-solid {
  display: initial;
  font-size: 20px;
  color: #9356DC;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 25px;
}
footer #menu-footer {
  display: flex;
  flex-direction: column;
}
footer #menu-footer .item-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
footer #menu-footer .item-footer i {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
