@media screen and (min-width: 1025px) {
    header {
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 40px;
        }
    }
    
    h2 {
        font-size: 20px;
        margin: 0;
    }
    p, h3 {
        font-size: 15px;
        margin: 0;
    }
    

    main {

        #explorer {
            #search {
                justify-content: space-evenly;
                #search-desc {
                    width: auto;
                }
            }
        }

        #functioning {
            #functions {
                flex-direction: row;
                justify-content: space-between;
                margin: 0 25px;
                .function-detail {
                    width: 370px;
                }
            }
        }

        #restaurants {
            #rest-list {
                justify-content: space-between;
                .card {
                    width: 400px;
                    margin: 25px;
                }
            }
        }
        
        .img-menu {
            display: flex;
            overflow: hidden;
            height: 450px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .title-menu {
                bottom: -5%;
                padding: 40px;
            }
            h1 {
                font-size: 35px;
            }
        }
    
        .commande {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .menu {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                .categories {
                    width: auto;
                    .dishes {
                        margin-top: 30px;
                        width: 430px;
                    }
                }
            }
            .action {
                margin: 30px 0;
                width: 250px;
            }
        }
    }
}