$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

body {
    font-family: Roboto;
}

h1, .logo {
    font-family: Shrikhand;
}

* {
    box-sizing: border-box;
}

.custom-loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.6;
}
.custom-loading-spinner::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid $tertiary-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 2s linear;
}
@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 25px;
    }
}

a {
    text-decoration: none;
    color: #000;
}
p, h3 {
    font-size: 15px;
    margin: 0;
}
h2 {
    font-size: 20px;
    margin: 0;
}
.action {
    padding: 0 15px;
    height: 50px;
    background: linear-gradient(170deg, $secondary-color,$primary-color);
    color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 5px #E8E8E8;
    &:hover {
        background: linear-gradient(-170deg, $secondary-color,$primary-color);
        box-shadow: 0 5px 10px $secondary-color;
    }
}
    

main {
    background: #F6F6F6;
    #explorer {
        display: flex;
        flex-direction: column;
        align-items: center;
        #position {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            background-color: #EAEAEA;
            border-top: 3px solid #CFCFCF;
            padding: 15px 130px 15px 110px;
        }
        #search {
            width: 100%;
            height: 280px;
            text-align: center;
            background-color: #F6F6F6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 40px 0;
            h2 {
                width: 60%;
            }
            p {
                width: 80%;
            }
            .action {
                width: 220px;
                p {
                    width: 100%;
                }
            }
        }
    }

    .img-menu {
        display: inline-block;
        position: relative;
        overflow: hidden;
        img {
            height: 260px;
            width: 100%;
        }
        .title-menu {
            background: #F6F6F6;
            z-index: 1;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px;
            bottom: -10%;
            color: #000;
            width: 100%;
            height: 80px;
            border-radius: 30px 35px 0 0;
            h1 {
                font-size: 25px;
            }
            i {
            font-size: 25px;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        .categories {
            width: 90%;
            margin: 20px;
            h2 {
                font-size: 15px;
                text-transform: uppercase;
            }
            .line {
                height: 10px;
                width: 35px;
                border-bottom: 3px solid $tertiary-color;
            }
            .dishes {
                margin-top: 15px;
                padding: 15px;
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                background-color: #fff;
                box-shadow: 0 5px 5px #E8E8E8;
            }
        }
        .action {
            margin: 30px 0;
            width: 190px;
        }
    }

    #functioning {
        margin: 50px 20px;
        #functions {
            margin: 20px 0;
            .function-detail {
                margin: 20px 0;
                height: 65px;
                display: flex;
                align-items: center;
                background-color: #F6F6F6;
                border-radius: 20px;
                box-shadow: 5px 5px 5px 0 #EDEDED;
                font-weight: bold;
                .badge {
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    text-align: center;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: $primary-color;
                    margin-left: -10px;
                }
                i {
                    width: 25%;
                    text-align: center;
                    color: #7E7E7E;
                }
            } /* #F5EDFF */
            .function-detail:hover {
                background-color: #F5EDFF;
                i {
                    color: $primary-color;
                }
            }
        }
    }
    
    #restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F6F6F6;
        padding: 55px 20px;
        .card {
            width: 100%;
            height: 250px;
            margin-top: 15px;
            background-color: white;
            box-shadow: 0 0 5px #999;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .card-img {
                width: 100%;
                height: 70%;
                border-radius: 20px 20px 0 0;
                display: inline-block;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px 20px 0 0;
                    object-fit: cover;
                }
                .new {
                    background: $tertiary-color;
                    z-index: 1;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    right: 5%;
                    top: 5%;
                    color: #008766;
                    width: 25%;
                    height: 15%;
                    font-size: 14px;
                }
            }
            .card-body {
                height: 30%;
                margin: 0 25px 0 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card-desc {
                    margin: 15px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-self: stretch;
                }
                .favorite-icone {
                    background: none;
                    border: none;
                    .fa-regular {
                        display: initial;
                        font-size: 20px;
                    }
                    .fa-solid {
                        display: none;
                    }
                }
                .favorite-icone:hover {
                    .fa-regular {
                        display: none;
                    }
                    .fa-solid {
                        display: initial;
                        font-size: 20px;
                        background: linear-gradient(-170deg, $secondary-color,$primary-color);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        /* transition de couleurs au hover */
                    }
                }
            }
        }
    }
    
    
}

footer {
    background-color: #353535;
    color: #fff;
    padding: 25px;
    .menu-footer {
        display: flex;
        flex-direction: column;
        .item-footer {
            margin-top: 10px;
            a {
                color: #fff;
                display: flex;
                align-items: center;
                i {
                    height: 15px;
                    width: 15px;
                    margin-right: 15px;
                }
            }
        }
    }
    
}